@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  font-family: "Poppins", sans-serif;
}

body {
  background: white;
}

section {
}

/* Top header */
.top-bar {
  background: linear-gradient(to right, #441342, #AA30A5);
  color: white;
  padding: 5px 70px;
  font-size: 14px;
  height: 6vh;
}

.top-bar img {
  height: 18px;
  width: 18px;
  margin-right: 5px;
}

.top-bar .left-icons,
.top-bar .right-link {
  display: flex;
  align-items: center;
}

.top-bar .left-icons>div {
  margin-right: 25px;
  display: flex;
  align-items: center;
}

.top-bar a {
  color: white;
  text-decoration: none;
  font-weight: 500;
  transition: all 0.3s ease;
}

.top-bar a:hover {
  font-size: 15px;
}

/*  */
/* Main Header */
.logo-main img {
  width: 60px;
  height: 60px;
}

.header-links {
  color: #441342;
  font-weight: 500;
  font-family: poppins;
}

.contact-us-btn {
  background-color: #441342;
  transition: all 0.3s ease;

}

.contact-us-btn:hover {
  background-color: #AA30A5;
  border: none;
  font-size: 18px;
}

/*  */
/* Footer Css */
.body-footer {
  background: linear-gradient(to right, #441342, #AA30A5);
}

.footer-desc {
  padding-top: 50px;
}

.footer-desc h2 {
  color: white;
  font-size: 32px;
  font-weight: 700;
  font-family: "Inter", "Poppins";
}

.footer-card {
  border-radius: 12px;
  transition: transform 0.3s ease;
}

.footer-card:hover {
  transform: translateY(-5px);
}

.icon-circle {
  width: 60px;
  height: 60px;
  background-color: #4b014b;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-circle img {
  width: 28px;
  height: 28px;
}

.fw-bold {
  font-size: 30px;
}

.footer-card p {
  font-size: 16px;
  font-weight: 700;
}

.inner-footer {
  font-family: 'Inter', sans-serif;
}

.footer-links li {
  margin-bottom: 0.5rem;
}

.footer-links a {
  color: white;
  text-decoration: none;
}

.footer-links a:hover {
  text-decoration: underline;
}

.inner-footer .input-group input::placeholder {
  color: #999;
}

.inner-footer img {
  vertical-align: middle;
}


.main_banner {
  background: url(../image/banner/1.jpg) center center;
  padding: 350px 45px 50px 45px;
  background-size: cover;
}

.main_banner h3 {
  color: white;
  font-weight: 600;
  font-size: 55px;
  text-shadow: 1px 2px black;
}

.main_banner .banner_newsletter_container {
  margin-top: 30px;
}

.main_banner .banner_newsletter_container.input-group-text {
  background: #fff;
}

.main_banner .banner_newsletter_container input {
  padding: 5px;
  color: #441342;
  border-radius: 0px 5px 5px 0px !important;
}

.main_banner .banner_newsletter_container input::placeholder {
  color: #441342;
}

.main_banner .banner_newsletter_container button {
  margin-left: 20px !important;
  padding: 20px 40px;
  background: #441342;
  border: none;
  border-radius: 0;
}

.main_banner .banner_newsletter_container button:active,
.main_banner .banner_newsletter_container button:hover {
  background: #70206e;
}

.below_banner {
  background: linear-gradient(89.94deg, #441342 50.27%, #AA30A5 99.99%);
  padding: 50px 20px;
}

.below_banner .below_b_items_container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.below_banner .below_b_items_container .below_b_item span {
  color: white;
  font-weight: 600;
  font-size: 22px;
}

.below_banner .below_b_items_container .below_b_item {
  position: relative;
  border-right: 1px solid white;
  padding: 10px 120px;
}

.below_banner .below_b_items_container .below_b_item:last-child {
  position: relative;
  border: none;
  padding: auto;
}

.our_services_section {
  padding: 100px 0;
}

.our_services_section h2 {
  font-size: 34px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 50px;
}

.our_services_section .services_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 20px;
}

.our_services_section .services_container .service_box {
  background-color: white;
  box-shadow: 0 0 10px 0 #0000001a;
  width: 24%;
  border-radius: 20px;
}

.our_services_section .services_container .service_box .service_img,
.our_services_section .services_container .service_box .service_content {
  padding: 15px;
}

.our_services_section .services_container .service_box .service_img img {
  width: 100%;
  border-radius: 10px;
}

.our_services_section .services_container .service_box .service_content p {
  margin-top: 10px;
  color: #616161;
  font-size: 16px;
  font-weight: 400;
}

.our_services_section .services_container .service_box .service_read_more button {
  width: 100%;
  padding: 15px;
  background: linear-gradient(90deg, #441342 0%, #AA30A5 100%);
  border-radius: 0 0 10px 10px;
  height: 100%;
  color: white;
  border: none;
  transition: background 0.4s ease, transform 0.3s ease;
}

.our_services_section .services_container .service_box .service_read_more button:hover {
  background: linear-gradient(90deg, #571855 0%, #c538c0 100%);
  transform: translateY(-2px);
}
/* service page */
.training-card {
  padding-left: 110px !important;
  background-color: #441342;
  color: white;
  padding: 2rem;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  margin-top: -50px;
  z-index: 1;
  position: relative;
  width: 50%;
  background: url('../image/title-box.svg');
}

.highlight-heading {
  color: #441342;
  font-weight: bold;
  padding: 2rem 1rem;
}

@media (max-width: 767.98px) {
  .training-card {
    margin-top: -30px;
    padding: 1.5rem;
    width: 100%;
  }

  .highlight-heading {
    padding: 1.5rem 1rem;
    font-size: 1.25rem;
  }
}
/*  */

.home_testimonials .testimonial_heading {
  background: #44134214;
  padding: 8px 15px;
  width: max-content;
}

.home_testimonials .testimonial_heading h3 {
  text-transform: uppercase;
  color: #441342;
  font-size: 26px;
  font-weight: 600;
  letter-spacing: 0.5px;
  margin: 0;
}

.home_testimonials .testimonial_sub_headings {
  padding: 30px 0;
}

.home_testimonials .testimonial_sub_headings h3 {
  font-size: 42px;
  font-weight: 600;
}

.home_testimonials .testimonial_sub_headings h4 {
  font-size: 20px;
  font-weight: 500;
  color: #575757;
  padding-top: 10px;
}

.home_testimonials .swiper {
  height: 500px;
  width: 100%;
  max-width: 100%;
  margin: auto;
  position: relative;
}

.home_testimonials .swiper-slide {
  display: flex;
  justify-content: center;
}

.home_testimonials .testimonial-card {
  width: 100%;
  padding: 2rem;
  border-radius: 1.5rem 5px;
  border: 3px solid #441342;
  background: white;
  position: relative;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
  transition: all 0.3s ease;
  color: #1E1E1E;
}

.home_testimonials .testimonial-card .name,
.home_testimonials .testimonial-card .title,
.home_testimonials .testimonial-card .testimonial-quote {
  transition: color 0.3s ease;
}

/* Hover gradient effect */
.home_testimonials .testimonial-card:hover {
  background: linear-gradient(135deg, #922790, #5f1a91);
  color: #fff;
  border: none;
}

.home_testimonials .testimonial-card:hover .name,
.home_testimonials .testimonial-card:hover .title,
.home_testimonials .testimonial-card:hover .testimonial-quote {
  color: #fff;
}

.home_testimonials .testimonial-card .testimonial-client {
  display: flex;
  gap: 20px;
  align-items: center;
}

.home_testimonials .testimonial-card img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 1rem;
}

.home_testimonials .testimonial-card .name {
  font-weight: bold;
  font-size: 1.1rem;
  color: #1E1E1E;
}

.home_testimonials .testimonial-card .title {
  font-family: "Roboto", "Poppins";
  font-size: 14px;
  color: #B0B0B0;
  margin-bottom: 1rem;
}

.home_testimonials .testimonial-quote {
  font-size: 0.95rem;
  font-style: normal;
  color: #575757;
  font-weight: 400;
  line-height: 1.5rem;
}

.home_testimonials .testimonial-footer-dot {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #d3d3d3;
  position: absolute;
  bottom: 15px;
  right: 15px;
}

.home_testimonials .testimonial_slider_nav_btn {
  position: relative;
}

/* Swiper custom nav buttons */
.home_testimonials .swiper-button-prev,
.home_testimonials .swiper-button-next {
  color: #333;
  background: #FFFFFF;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  top: 50%;
  box-shadow: 0 0 4px 0 #00000040;
  transform: translateY(-50%);
}

.home_testimonials .swiper-button-prev {
  left: -60px;
}

.home_testimonials .swiper-button-next {
  right: -60px;
}

.home_testimonials .swiper-button-next:after,
.home_testimonials .swiper-rtl .swiper-button-prev:after,
.home_testimonials .swiper-button-prev:after,
.home_testimonials .swiper-rtl .swiper-button-next:after {
  font-size: 28px;
}



.home_newsletter {
  background: #441342;
  padding: 100px;
  color: white;
}

.home_newsletter h3,
.home_newsletter h4 {
  margin: 30px 0;
}

.home_newsletter h3 {
  font-size: 28px;
  text-transform: uppercase;
}

.home_newsletter h4 {
  font-size: 28px;
  line-height: 2.5rem;
}

.home_newsletter p {
  letter-spacing: 0.5px;
}

.home_newsletter .input-group {
  gap: 20px;
}

.home_newsletter input {
  background: #FFFFFF;
  border-radius: 4px;
  padding: 20px;
  color: #7E7E7E;
}

.home_newsletter button {
  background: #FFFFFF;
  border-radius: 4px;
  padding: 20px;
  color: #441342;
  border: 1px solid white;
  font-size: 20px;
  font-weight: 500;
}

.home_newsletter button:hover {
  background: #691266;
  color: #fff;
  border: 1px solid #691266;
}

.home_newsletter input::placeholder {
  font-size: 20px;
  font-weight: 500;
  color: #7E7E7E;
}

.home_newsletter img {
  width: 100%;
  border-radius: 35px 4px 4px 35px;
}

.home_newsletter .newsletter_contents {
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.home_newsletter .newsletter_img_container {
  padding: 50px;
}

.home_newsletter .container-fluid {
  max-width: 1500px;
}

.home_organizations {
  padding: 100px 0;
}

.home_organizations h1 {
  font-size: 42px;
  font-weight: 600;
  color: #1E1E1E;
}

.home_organizations .swiper {
  width: 100%;
  height: 300px;
  padding: 40px 0;
}

.home_organizations .swiper-slide {
  background: #fff;
  border: 1px solid #eee;
  border-radius: 10px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  transition: box-shadow 0.3s;
}

.home_organizations .swiper-slide img {
  width: 100px;
}

.home_organizations .swiper-slide p {
  margin-top: 10px;
  font-weight: bold;
  color: #111;
}

.home_organizations .swiper-button-next,
.home_organizations .swiper-button-prev {
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  width: 40px;
  height: 40px;
  color: purple;
}

.home_organizations .swiper-button-next::after,
.home_organizations .swiper-button-prev::after {
  font-size: 16px;
}

.main_heading {
  background: #44134214;
  padding: 8px 15px;
  width: max-content;
  margin-bottom: 20px;
}

.main_heading h3 {
  text-transform: uppercase;
  color: #441342;
  font-size: 26px;
  font-weight: 600;
  letter-spacing: 0.5px;
  margin: 0;
}

.content_box p {
  font-size: 18px;
  font-weight: 500;
  color: #575757;
}

.about_timeline_heading h3 {
  color: #441342;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.about_timeline_heading h4 {
  color: #441342;
  font-weight: 600;
}

.timeline {
  position: relative;
  margin: 3rem auto;
}

.timeline::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 0;
  bottom: 0;
  width: 4px;
  background-color: #912a8f;
  transform: translateX(-50%);
}

.timeline-item {
  position: relative;
  margin-bottom: 60px;
}

.timeline-dot {
  position: absolute;
  top: 0;
  left: 50%;
  width: 14px;
  height: 14px;
  background-color: #912a8f;
  border-radius: 50%;
  transform: translateX(-50%);
  z-index: 2;
}

.timeline-content {
  padding: 1rem;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
}

.timeline-year {
  display: inline-block;
  background-color: #5b0d68;
  color: #fff;
  font-weight: 600;
  padding: 4px 12px;
  border-radius: 5px;
  margin-bottom: 1rem;
}

.timeline-image {
  width: 100%;
  height: 160px;
  background-color: #ccc;
  border-radius: 8px;
  margin-top: 1rem;
}

.row:nth-child(even) .timeline-text {
  text-align: left;
}


@media (max-width: 768px) {
  .timeline::before {
    left: 8px;
  }

  .timeline-dot {
    left: 8px;
  }

  .row {
    flex-direction: column !important;
  }

  .timeline-text,
  .timeline-img {
    order: unset !important;
    text-align: left !important;
  }
}

@media (max-width: 768px) {

  .swiper-button-prev,
  .swiper-button-next {
    display: none;
  }
}

/*  */
/* Top Header */
@media (max-width: 576px) {
  .top-bar {
    flex-direction: column;
    text-align: center;
  }

  .top-bar .left-icons,
  .top-bar .right-link {
    justify-content: center;
    margin: 5px 0;
  }

  .footer-desc h2 {
    font-size: 15px;
  }

  .fw-bold {
    font-size: 20px;
  }
}