* {
  font-family: "Poppins", sans-serif;
}

/* Top header */
.top-bar {
  background: linear-gradient(to right, #441342, #AA30A5);
  color: white;
  padding: 5px 70px;
  font-size: 14px;
  height: 6vh;
}

.top-bar img {
  height: 18px;
  width: 18px;
  margin-right: 5px;
}

.top-bar .left-icons,
.top-bar .right-link {
  display: flex;
  align-items: center;
}

.top-bar .left-icons>div {
  margin-right: 25px;
  display: flex;
  align-items: center;
}

.top-bar a {
  color: white;
  text-decoration: none;
  font-weight: 500;
  transition: all 0.3s ease;
}

.top-bar a:hover {
  font-size: 15px;
}

/*  */
/* Main Header */
.logo-main img {
  width: 60px;
  height: 60px;
}

.header-links {
  color: #441342;
  font-weight: 500;
  font-family: poppins;
}

.contact-us-btn {
  background-color: #441342;
  transition: all 0.3s ease;

}

.contact-us-btn:hover {
  background-color: #AA30A5;
  border: none;
  font-size: 18px;
}

/*  */
/* Footer Css */
.body-footer {
  background: linear-gradient(to right, #441342, #AA30A5);
}

.footer-desc {
  padding-top: 50px;
}

.footer-desc h2 {
  color: white;
  font-size: 32px;
  font-weight: 700;
  font-family: "Inter", "Poppins";
}

.footer-card {
  border-radius: 12px;
  transition: transform 0.3s ease;
}

.footer-card:hover {
  transform: translateY(-5px);
}

.icon-circle {
  width: 60px;
  height: 60px;
  background-color: #4b014b;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-circle img {
  width: 28px;
  height: 28px;
}

.fw-bold {
  font-size: 30px;
}

.footer-card p {
  font-size: 16px;
  font-weight: 700;
}

.inner-footer {
  font-family: 'Inter', sans-serif;
}

.footer-links li {
  margin-bottom: 0.5rem;
}

.footer-links a {
  color: white;
  text-decoration: none;
}

.footer-links a:hover {
  text-decoration: underline;
}

.inner-footer .input-group input::placeholder {
  color: #999;
}

.inner-footer img {
  vertical-align: middle;
}


.main_banner {
  background: url(../image/banner/1.jpg) center center;
  padding: 270px 45px 50px 45px;
  background-size: cover;
}

.main_banner h3 {
  color: white;
  font-weight: 600;
  font-size: 55px;
  text-shadow: 1px 2px black;
}

.main_banner .banner_newsletter_container {
  margin-top: 30px;
}

.main_banner .banner_newsletter_container.input-group-text {
  background: #fff;
}

.main_banner .banner_newsletter_container input {
  padding: 20px;
  color: #441342;
  border-radius: 0px 5px 5px 0px !important;
}

.main_banner .banner_newsletter_container input::placeholder {
  color: #441342;
}

.main_banner .banner_newsletter_container button {
  margin-left: 20px !important;
  padding: 20px 40px;
  background: #441342;
  border: none;
  border-radius: 0;
}

.main_banner .banner_newsletter_container button:active,
.main_banner .banner_newsletter_container button:hover {
  background: #70206e;
}







/*  */
/* Mobile Responsive Css */
/* Top Header */
@media (max-width: 576px) {
  .top-bar {
    flex-direction: column;
    text-align: center;
  }

  .top-bar .left-icons,
  .top-bar .right-link {
    justify-content: center;
    margin: 5px 0;
  }

  .footer-desc h2 {
    font-size: 15px;
  }

  .fw-bold {
    font-size: 20px;
  }
}